In [1]:
# Import libraries

import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn', I added this line because the 'if' statement was
  # displaying a warning and this line supresses the error.
import numpy as np
import os

In [2]:
# Create a path variable

path = r'/Users/davidcarpenter/Documents/Instacart Basket Analysis'

In [3]:
# Import the dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ex4-7-orders_products_merged.pkl'))

In [4]:
# Create a subset of the 'ords_prods_merge' dataframe and name it 'df'

df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 21)

In [6]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,slowest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,6,11,3.0,5,0,both,Mid-range product,Regularly busy,-,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,6,17,20.0,1,1,both,Mid-range product,Regularly busy,-,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,0,21,6.0,20,0,both,Mid-range product,Busiest day,-,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,3,13,NaN,10,0,both,Mid-range product,-,Slowest day,Most orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,4,17,9.0,11,1,both,Mid-range product,-,Slowest day,Average orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,...,1,7,26.0,7,0,both,Mid-range product,Busiest day,-,Average orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,prior,...,2,14,30.0,2,0,both,Mid-range product,Regularly busy,-,Most orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,prior,...,3,10,30.0,1,0,both,Mid-range product,-,Slowest day,Most orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,prior,...,1,20,19.0,1,0,both,Mid-range product,Busiest day,-,Average orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,prior,...,1,12,15.0,2,1,both,Mid-range product,Busiest day,-,Average orders

In [7]:
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

In [9]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.562844   1  99
2                17.518895   1  96
3                16.907152   1  99
4                17.537934   1  99
5                14.894521   1  99
6                16.658449   1  99
7                17.072954   1  99
8                14.942021   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.352278   1  99
12               14.327957   1  99
13               16.578690   1  99
14               16.666369   1  99
15               16.153766   1  99
16               17.768070   1  99
17               15.602964   1  99
18               19.674252   1  99
19               16.924344   1  99
20               16.292631   1  99
21               25.535596   1  98

In [10]:
# The original code was:
# ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
# but that produced an error so I removed the 'np' part of 'np.max', the result is:

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [11]:
ords_prods_merge.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,slowest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,Mid-range product,Regularly busy,-,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,Mid-range product,Regularly busy,-,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,Mid-range product,Busiest day,-,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,Mid-range product,-,Slowest day,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,Mid-range product,-,Slowest day,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,prior,...,7,26.0,7,0,both,Mid-range product,Busiest day,-,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,prior,...,14,30.0,2,0,both,Mid-range product,Regularly busy,-,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,prior,...,10,30.0,1,0,both,Mid-range product,-,Slowest day,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,prior,...,20,19.0,1,0,both,Mid-range product,Busiest day,-,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,prior,...,12,15.0,2,1,both,Mid-range product,Busiest day,-,Average orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,prior,...,11,NaN,1,0,both,Mid-range product,Regularly busy,-,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,prior,...,13,7.0,1,0,both,Mid-range product,-,Slowest day,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,prior,...,13,7.0,3,1,both,Mid-range product,-,Slowest day,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,prior,...,12,12.0,4,1,both,Mid-range product,Regularly busy,-,Average orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,prior,...,10,2.0,8,0,both,Mid-range product,-,Slowest day,Most orders,13

## Question 1 - Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

I performed these steps above.

## Question 2 - In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [12]:
# The code to find the mean of the 'df' dataframe is:

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

In [13]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Question 3 - Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

The means from the entire dataframe are quite close to the results from the subset. The entire dataset has 32434212 rows whereas the subset has only 1,000,000 rows. The fact that the means from the two datasets probably means that there isn't a lot of variation in the order numbers between the two datasets.

## Question 4 - Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [16]:
# Create the “max_order” column. First, a new column called “max_order” is created,
# which will be what stores the maximum order number for each user (step 3). Then, the ords_prods_merge
# dataframe is grouped by the “user_id” column (step 1). And finally, the transform() function is applied
# on the “order_number” column with the 'max' argument (step 2).

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [17]:
# View the head of the dataframe to see the new 'max_order' column.

ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,slowest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,Mid-range product,Regularly busy,-,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,Mid-range product,Regularly busy,-,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,Mid-range product,Busiest day,-,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,NaN,10,0,both,Mid-range product,-,Slowest day,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,Mid-range product,-,Slowest day,Average orders,3

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
# View counts for each of the three values in the 'loyalty_flag' column.

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

In [22]:
# View the head of a subset of the columns.

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head()

   user_id      loyalty_flag  order_number
0      138  Regular customer            28
1      138  Regular customer            30
2      709      New customer             2
3      764      New customer             1
4      764      New customer             3

## Question 5 - The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [23]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.388747
New customer      13.294370
Regular customer  12.496203

It appears that loyal customers generally purchase items with an average price that is lower than items that both new and regular customers buy. New customers generally buy products that are more expensive than both loyal and regular customers.

## Question 6 - The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

In [68]:
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

In [72]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spend_type'] = 'Low spender'

### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [73]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spend_type'] = 'High spender'

View the last 50 items in the datafarme to see 'high spender' and 'low spender' values in the 'spend_type' column

In [80]:
ords_prods_merge[['user_id', 'avg_price', 'spend_type']].tail(50)

          user_id   avg_price    spend_type
32434162   111542    7.615238   Low spender
32434163   114963  397.793370  High spender
32434164   118871    7.241190   Low spender
32434165   121646   10.022764  High spender
32434166   124944    8.400000   Low spender
32434167   128148    7.705316   Low spender
32434168   128148    7.705316   Low spender
32434169   128930    7.524390   Low spender
32434170   128930    7.524390   Low spender
32434171   129901    8.694872   Low spender
32434172   142639    9.872881   Low spender
32434173   144914    8.062232   Low spender
32434174   145111    8.177328   Low spender
32434175   145526   76.089009  High spender
32434176   145732    7.681667   Low spender
32434177   146323    8.740690   Low spender
32434178   151977    8.110390   Low spender
32434179   153612    9.400000   Low spender
32434180   157883    7.450000   Low spender
32434181   159099    7.663559   Low spender
32434182   159487    9.104478   Low spender
32434183   159487    9.104478   Low spender
32434184   159487    9.104478   Low spender
32434185   159487    9.104478   Low spender
32434186   159638    7.869811   Low spender
32434187   163632    8.890000   Low spender
32434188   163632    8.890000   Low spender
32434189   164453    7.287013   Low spender
32434190   166038    7.612409   Low spender
32434191   166038    7.612409   Low spender
32434192   166213    7.473913   Low spender
32434193   171743    6.991949   Low spender
32434194   172262    8.036585   Low spender
32434195   176942    7.831250   Low spender
32434196   178693    8.360085   Low spender
32434197   178752    8.669091   Low spender
32434198   178752    8.669091   Low spender
32434199   182948    7.306667   Low spender
32434200   182948    7.306667   Low spender
32434201   183548    8.340659   Low spender
32434202   184081    7.684426   Low spender
32434203   187523    7.812676   Low spender
32434204   188073    6.058416   Low spender
32434205   188073    6.058416   Low spender
32434206   197371    8.814508   Low spender
32434207   200215    8.220313   Low spender
32434208   200377    7.364516   Low spender
32434209   200873    8.500344   Low spender
32434210   200873    8.500344   Low spender
32434211   205926    8.133333   Low spender

## Question 7 - In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

In [100]:
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

In [101]:
ords_prods_merge.loc[ords_prods_merge['order_frequency'] > 20, 'order_type'] = 'Non frequent customer'

### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

In [102]:
ords_prods_merge.loc[(ords_prods_merge['order_frequency'] > 10) & (ords_prods_merge['order_frequency'] <= 20), 'order_type'] = 'Regular customer'

### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [103]:
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <= 10, 'order_type'] = 'Frequent customer'

### View the first 50 rows to view the different values in the 'order_type' column

In [105]:
ords_prods_merge[['user_id', 'avg_price', 'spend_type', 'order_frequency', 'order_type']].head(50)

    user_id  avg_price   spend_type  order_frequency             order_type
0       138   6.935811  Low spender              8.0      Frequent customer
1       138   6.935811  Low spender              8.0      Frequent customer
2       709   7.930208  Low spender              8.0      Frequent customer
3       764   4.972414  Low spender              9.0      Frequent customer
4       764   4.972414  Low spender              9.0      Frequent customer
5       777   6.935398  Low spender             11.0       Regular customer
6       825   5.957576  Low spender             20.0       Regular customer
7       910   6.680000  Low spender              6.0      Frequent customer
8      1052   7.162500  Low spender             10.0      Frequent customer
9      1052   7.162500  Low spender             10.0      Frequent customer
10     1379   5.813636  Low spender             20.0       Regular customer
11     1480   5.139394  Low spender              7.0      Frequent customer
12     1480   5.139394  Low spender              7.0      Frequent customer
13     1480   5.139394  Low spender              7.0      Frequent customer
14     1494   6.803797  Low spender              7.0      Frequent customer
15     1494   6.803797  Low spender              7.0      Frequent customer
16     1494   6.803797  Low spender              7.0      Frequent customer
17     1540   6.607122  Low spender              7.0      Frequent customer
18     1540   6.607122  Low spender              7.0      Frequent customer
19     1540   6.607122  Low spender              7.0      Frequent customer
20     1540   6.607122  Low spender              7.0      Frequent customer
21     1540   6.607122  Low spender              7.0      Frequent customer
22     1540   6.607122  Low spender              7.0      Frequent customer
23     1540   6.607122  Low spender              7.0      Frequent customer
24     1540   6.607122  Low spender              7.0      Frequent customer
25     1540   6.607122  Low spender              7.0      Frequent customer
26     1540   6.607122  Low spender              7.0      Frequent customer
27     1540   6.607122  Low spender              7.0      Frequent customer
28     1540   6.607122  Low spender              7.0      Frequent customer
29     1540   6.607122  Low spender              7.0      Frequent customer
30     1540   6.607122  Low spender              7.0      Frequent customer
31     1540   6.607122  Low spender              7.0      Frequent customer
32     1540   6.607122  Low spender              7.0      Frequent customer
33     1540   6.607122  Low spender              7.0      Frequent customer
34     1598   7.123529  Low spender              2.0      Frequent customer
35     1598   7.123529  Low spender              2.0      Frequent customer
36     1598   7.123529  Low spender              2.0      Frequent customer
37     1647   4.853521  Low spender             25.0  Non frequent customer
38     1647   4.853521  Low spender             25.0  Non frequent customer
39     1647   4.853521  Low spender             25.0  Non frequent customer
40     1647   4.853521  Low spender             25.0  Non frequent customer
41     1647   4.853521  Low spender             25.0  Non frequent customer
42     2833   7.377143  Low spender             13.0       Regular customer
43     2850   8.054153  Low spender              7.0      Frequent customer
44     2857   8.387075  Low spender             11.0       Regular customer
45     3010   6.452800  Low spender              7.0      Frequent customer
46     3029   7.960606  Low spender             28.0  Non frequent customer
47     3395   6.322222  Low spender             18.0       Regular customer
48     3904   7.511111  Low spender             21.0  Non frequent customer
49     4006   7.441100  Low spender              7.0      Frequent customer

In [106]:
# Export the notebook to Pickle format, file is about 5.9GB in size.

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ex4-8-orders_products_merged.pkl'))